core:
  seed: 42
  device: "cpu"

environment:
  n_envs: 11
  deadline_round: 1000
  domains: ['5', '6', '7', '9', '10', '11', '12', '13', '14', '21', '22', '23', '25', '26', '27', '28', '29', '30', '37', '38', '39', '41', '42', '43', '44', '45', '46']

  opponents: [ "agents.BoulwareAgent",
               "agents.ConcederAgent",
               "agents.HybridAgent",
               "agents.MICROAgent",
               "agents.CUHKAgent",
               "agents.YXAgent",
               "agents.PonPokoAgent",
               "agents.SAGAAgent",
               "agents.Rubick",
               "agents.Kawaii",
               "agents.Atlas3Agent"]

training:
  learning_rate: 0.00005
  n_steps: 1000
  batch_size: 64
  n_epochs: 10
  gamma: 0.995
  gae_lambda: 0.95
  clip_range: 0.2
  max_grad_norm: 0.5
  vf_coef: 0.5
  ent_coef: 0.01
  target_kl: 0.05

logging:
  log_level: "INFO"
  wandb:
    project: "negotiation-rl"
    entity: null
  checkpoint_freq: 10000
